.themeSwitch {
	display: inline-flex;
	max-width: max-content;
	border: 1px solid var(--c-base-border);
	background: var(--c-base);
}

.themeSwitchOption {
	cursor: pointer;

	padding: 0.5rem 0.8rem;

	font-size: 0.8rem;
	font-weight: 600;
	color: var(--c-subtext-0);

	appearance: none;
	background: transparent;
}

.themeSwitchOption:not(:first-child) {
	border-left: 1px solid var(--c-base-border);
}

.themeSwitchOption:hover {
	color: var(--c-text);
}

.themeSwitchOption[aria-checked="true"] {
	color: var(--c-text);
	background: var(--c-base-shaded);
}

.unlockButton {
	display: flex;
	gap: 0.25rem;
	place-items: center;

	padding: 0;
	border: none;

	font-size: 0.8rem;
	font-weight: 600;

	appearance: none;
	background: none;
}

.unlockButton[aria-pressed="false"] {
	color: var(--c-subtext-2);
}

.unlockButton:hover {
	color: var(--c-accent);
}

.settingsForm,
.group {
	display: flex;
	flex-direction: column;
}

.settingsForm {
	gap: 1rem;
	padding-top: 0.5rem;
}

.settingsForm[aria-disabled="true"] {
	pointer-events: none;
	opacity: 0.2;
}

.group {
	gap: 0.5rem;
}

.maintenanceActions {
	display: grid;
	grid-auto-rows: 1fr;
	grid-template-columns: 1fr;
	gap: 0.75rem;
}

.maintenanceAction {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	padding: 0.75rem;
	border: 1px solid var(--c-base-border);

	background: var(--c-base);
}

.maintenanceAction > button {
	width: 100%;
	min-height: 2rem;
}

.maintenanceDescription {
	margin: 0;
	font-size: 0.8rem;
	line-height: 1.35;
	color: var(--c-subtext-1);
}
