.container {
	position: relative;
	flex: 1 1 0%;
}

.progress {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	transform: translateY(-50%);

	width: 100%;
	height: 0.5rem;

	background-color: transparent;
}

.progress[value] {
	appearance: none;
}

.progress[value]::-webkit-progress-bar {
	background-color: var(--c-surface-0);
}

.progress[value]::-webkit-progress-value {
	background-color: var(--c-accent);
}
